---
interface Props {
  items: { label: string; href?: string }[];
}
const { items } = Astro.props;
---

<nav class="text-xs md:text-sm mb-4 text-gray-600">
  <ol class="flex flex-wrap gap-2">
    {items.map((item, i) => (
      <li>
        {item.href
          ? <a href={item.href} class="hover:underline text-black/40">{item.label}</a>
          : <span class="text-blue-600">{item.label}</span>}
        {i < items.length - 1 && <span class="mx-2  text-black/40">/</span>}
      </li>
    ))}
  </ol>
</nav>
