---
const year = new Date().getFullYear();
---
<footer class="flex text-[#353535] justify-center xs:justify-between gap-4 px-8 text-center flex-wrap top-20 relative min-h-16 w-full items-center text-xs text-text-color dark:text-white" itemscope itemtype="http://schema.org/WPFooter">
    <p>
        <a class="hover:underline underline md:no-underline text-wrap" href="https://portafolio-devcast.netlify.app" target="_blank" rel="noopener noreferrer" itemprop="url">DevCast</a>
        © {year}. Todos los derechos reservados.
    </p>
</footer>