---
import type { Capitulo } from "@/data/cie10.ts";
import Layout from "@/layouts/Layout.astro";
import data from "@/data/cie10.json";

const capitulos = data as Capitulo[];

const breadcrumbs = [
  { label: "CIE-10" , href: "/" },
];
---

<Layout
  title="CIE-10 - Capítulos"
  heading="Clasificación Internacional de Enfermedades (CIE-10)"
  breadcrumbs={breadcrumbs}
>
  <section class="py-8 flex flex-col gap-6">
    {
      capitulos.map((capitulo) => (
        <article>
          <a
            class="block"
            href={`/cie-10/${encodeURIComponent(capitulo.codigo)}`}
          >
            <div class="p-6 border border-gray-300 rounded-xl hover:bg-gray-100 transition">
              <h2 class="text-xl font-semibold">{capitulo.codigo}</h2>
              <p class="text-gray-600 text-sm">{capitulo.nombre}</p>
            </div>
          </a>
        </article>
      ))
    }
  </section>
</Layout>
