---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import Navbar from "@/components/Navbar.astro";

interface Props {
  title?: string;
  heading?: string;
  breadcrumbs?: { label: string; href?: string }[];
}

const { title = "", heading } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="bg-background w-full h-fit md:h-[calc(100dvh-4rem)] flex flex-col items-center antialiased">
    <ClientRouter />

    <Navbar />

    <main class="px-8 lg:px-0 w-full lg:w-[60rem] top-24 relative">

      {
        heading && (
          <h2 class="text-lg md:text-2xl font-bold" transition:name={`title_${heading}`}>
            {heading}
          </h2>
        )
      }
      <slot />
    </main>
  </body>
</html>
